*{
    padding: 0;
    margin: 0;
}

.main-wrapper{
    background: url('../assets/ScienceBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 66px 0px 60px 0px;
}

.header{
    text-align: center;
    padding: 0px 0px 53px 0px;
}

.section .container{
    background-color: white;
    border-radius: 10px;
    padding: 75px 68px 193px 55px;
    text-align: center;
}

.section .container .img-1{
    border-radius: 50%;
    padding-bottom: 28px;
}

.section .container .img-2{
    display: inline-block; 
    padding-bottom: 30px;
}

.section .container .content{text-align: center;}

.section .container .content #content-header{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

.section .container .content #italic{
    font-size: 30px;
    line-height: 45px;
}

.section .container .para{
    background-color: #1C4A75;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 62px;
}

.section .container .row-1{padding: 48px 0px 37px 0px;}
.section .container .row-2{padding-bottom: 59px;}

.section .container .row .left{
    background: url('../assets/Ellipse 2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 31px 36px;
    font-size: 55px;
    line-height: 33px;
}
@media all and (min-width:390px){
    .section .container{
        width: 100%;
    }
}

@media all and (max-width:1400px){
    .section .container .left{
        background-size: 50%;
        padding: 10px;
    }

    .section .container .para{
        padding: 10px 20px;
    }

    /* .section .container{
        margin: 10px;
    } */

    .order_summary{width: 80%;}
}
.section .container .right p{
    font-size: 23px;
    line-height: 33px;
}

.section .container .right{text-align: left;}

.section .container .order_summary{padding-top: 51px; }

.footer{text-align: center;}
.footer .nav{
    list-style-type: none;
    display: inline;
}
.footer .nav li{padding: 28px;}
.footer .nav li a{
    color: white; 
    text-decoration: none; 
    font-size: 20px; 
    line-height: 60px;
}

.footer p{
    color: white;
    font-size: 20px;
    line-height: 60px;
}